{% extends 'core/layout/base.html' %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block contenido %}
    <div class="welcome-title">
        <h1>¡Bienvenido!</h1>
        <h2>Prueba nuestra comida de otro universo!</h2>
    </div>

    <div class="container-carousel">
        <div class="slider">
        <input type="radio" name="testimonial" id="t-1">
        <input type="radio" name="testimonial" id="t-2">
        <input type="radio" name="testimonial" id="t-3" checked>
        <input type="radio" name="testimonial" id="t-4">
        <input type="radio" name="testimonial" id="t-5">

        <div class="testimonials">
            <label class="item" for="t-1">
                    <img src="{% static 'core/imgs/comidas/Designer 1.jpeg' %}" alt="Space Image 1">
                    <div class="caption">
                        <h2>Alienígena del Delta</h2>
                        <p>Una criatura misteriosa observada cerca del cráter azul de Saturno.</p>
                    </div>
                </label>
                <label class="item" for="t-2">
                    <img src="{% static 'core/imgs/comidas/Designer 2.jpeg' %}" alt="Space Image 2">
                    <div class="caption">
                        <h2>Alienígena del Delta</h2>
                        <p>Una criatura misteriosa observada cerca del cráter azul de Saturno.</p>
                    </div>
                </label>
                <label class="item" for="t-3">
                    <img src="{% static 'core/imgs/comidas/Designer 3.jpeg' %}" alt="Space Image 3">
                    <div class="caption">
                        <h2>Alienígena del Delta</h2>
                        <p>Una criatura misteriosa observada cerca del cráter azul de Saturno.</p>
                    </div>
                </label>
                <label class="item" for="t-4">
                    <img src="{% static 'core/imgs/comidas/Designer 4.jpeg' %}" alt="Space Image 4">
                    <div class="caption">
                        <h2>Alienígena del Delta</h2>
                        <p>Una criatura misteriosa observada cerca del cráter azul de Saturno.</p>
                    </div>
                </label>
                <label class="item" for="t-5">
                    <img src="{% static 'core/imgs/comidas/Designer 5.jpeg' %}" alt="Space Image 5">
                    <div class="caption">
                        <h2>Alienígena del Delta</h2>
                        <p>Una criatura misteriosa observada cerca del cráter azul de Saturno.</p>
                    </div>
                </label>
        </div>

        <div class="dots">
            <label for="t-1"></label>
            <label for="t-2"></label>
            <label for="t-3"></label>
            <label for="t-4"></label>
            <label for="t-5"></label>
        </div>
    </div>

    <!-- TARJETA DESTACADA “CÓMPRALO AHORA” -->
    {% if featured %}
        <div class="promo-card-container">
            <div class="promo-card">
            <div class="promo-card-image">
                <img src="{% static 'core/imgs/comidas/vaso.jpg' %}" alt="{{ featured.nom_producto }}">
            </div>
            <div class="promo-card-content">
                <h3>{{ featured.nom_producto }}</h3>
                <p>{{ featured.desc_prod }}</p>
                <h3>Precio: ${{ featured.precio_prod }}</h3>
                <button class="buy-btn" data-id="{{ featured.id_producto }}" data-img="{% static 'core/imgs/comidas/vaso.jpg' %}">
                ¡Cómpralo Ahora!
                </button>
            </div>
            </div>
        </div>
    {% endif %}


    <div class="cards-home">
        <div class="promo-card vertical">
            <img src="{% static 'core/imgs/comidas/Designer 1.jpeg' %}" alt="Comida alienígena 1">
            <div class="promo-card-content-vertical">
            <h3>Galaxy Burguer</h3>
            <p>Una delicia interplanetaria traída directamente desde Marte.</p>
            <a href="{% url 'comidas' %}" class="buy-btn">¡Pruébala!</a>            
            </div>
        </div>

        <div class="promo-card vertical">
            <img src="{% static 'core/imgs/comidas/Designer 2.jpeg' %}" alt="Comida alienígena 2">
            <div class="promo-card-content-vertical">
            <h3>Men Black Burguer</h3>
            <p>Inspirada en la famosa película, aprobada por alienigenas gusanos ¡Una delicia!</p>
            <a href="{% url 'comidas' %}" class="buy-btn">¡Pruébala!</a>            
            </div>
        </div>

        <div class="promo-card vertical">
            <img src="{% static 'core/imgs/comidas/Designer 3.jpeg' %}" alt="Comida alienígena 2">
            <div class="promo-card-content-vertical">
            <h3>Angry Burguer</h3>
            <p>Una ira inigualable convertida en puro picante ¡Pruebala si te atreves!</p>
            <a href="{% url 'comidas' %}" class="buy-btn">¡Pruébala!</a>            
            </div>
        </div>

        <div class="promo-card vertical">
            <img src="{% static 'core/imgs/comidas/Designer 4.jpeg' %}" alt="Comida alienígena 2">
            <div class="promo-card-content-vertical">
            <h3>Toxic Pizza</h3>
            <p>Disfruta del sabor de la toxicidad galáctica, un sabor de otro mundo!</p>
            <a href="{% url 'comidas' %}" class="buy-btn">¡Pruébala!</a>            
            </div>
        </div>

        <div class="promo-card vertical">
            <img src="{% static 'core/imgs/comidas/Designer 5.jpeg' %}" alt="Comida alienígena 2">
            <div class="promo-card-content-vertical">
            <h3>Area 51</h3>
            <p>Uns hamburguesa praparada por los mejores científicos del área 51 ¿Te atreves a probarla?</p>
            <a href="{% url 'comidas' %}" class="buy-btn">¡Pruébala!</a>            
        </div>
    </div>

{% endblock %}