{% extends 'core/layout/base.html' %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'core/css/panelcocinero.css' %}">
{% endblock %}

{% block contenido %}
    <div class="user-table-container">
    <div class="tabla-botones">
        <button id="btn-agregar-producto" class="btn-icon btn-edit">Agregar Producto</button>
        <button id="btn-enviar-informe" class="btn-icon btn-send">Enviar Informe Stock Bajo</button>
    </div>

    <table id="tabla-inventario" class="user-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Cantidad Original</th>
            <th>Cantidad Disponible</th>
            <th>Fecha de Ingreso</th>
            <th>ID Sucursal</th>
            <th>Sucursal</th>
            <th id="th-acciones" style="display: none;">Acciones</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>

  <script type="module" src="{% static 'core/js/panelcocinero.js' %}"></script>
{% endblock %}
